* {
    box-sizing: border-box;
    font-family: Consolas, monaco, monospace;
}

body {
    margin: 0;
    padding: 0;
    color: cyan;
}

p {
    margin: 0;
    padding: 0;
}

pre {
    margin: 0;
    padding: 0;
}

#myCanvas {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}

.backgroundDark {
    background-color: rgba(20, 20, 20, 0.8);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.backgroundTip {
    background-color: rgba(75, 75, 75, .8);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(20, 20, 20, .8);
}

.backgroundTabs {
    background-color: rgba(75, 75, 75, .8);
    border: 2px solid black;
    border-radius: 5px 30px;
    box-shadow: 5px 3px 999px rgba(0, 255, 0, 0);
}

.header {
    position: relative;
    margin: 5px 50px;
    padding: 5px;
    left: 0;
    right: 0;
    font-size: 20px;
    text-shadow: 1px 1px black;
}

.headerTitle {
    font-size: 40px;
}

.tip {
    position: relative;
    left: 0;
    right: 0;
    margin: 5px 50px;
    padding: 5px 20px;
    font-size: 16px;
    text-shadow: 1px 1px black;
}

.tabs {
    position: relative;
    left: 0;
    right: 0;
    margin: 5px 50px;
    font-size: 20px;
    text-shadow: 1px 1px black;
}

ul.tabList {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
}

ul.tabList li {
    float: left;
}

ul.tabList li a{
    display: inline-block;
    text-align: center;
    color: cyan;
    text-shadow: 1px 1px black;
    margin: 0 5px;
    padding: 5px 15px;
    text-decoration: none;
    transition: .3s;
    font-size: 17px;
}

ul.tabList li a:hover {
    background-color: #7d7d7d;
    box-shadow: 5px 3px 25px #00ff00;
}

ul.tabList li a:focus, .activeTab{
    background-color: #649664;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sidebar {
    position: absolute;
    left: 0;
    right: 75%;
    padding: 5px;
    font-size: 20px;
    text-shadow: 1px 1px black;
}

ul.sidebarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.sidebarList li a {
    width:100%;
    display: inline-block;
    text-align: center;
    color: cyan;
    text-shadow: 1px 1px black;
    margin: 5px 0;
    padding: 14px 16px;
    text-decoration: none;
    transition: .3s;
    font-size: 17px;
}

ul.sidebarList li a:hover {
    background-color: #ddd;
}

ul.sidebarList li a:focus, .activeList {
    background-color: #ccc;
}

.contentPanel {
    position: absolute;
    left: 25%;
    right: 0;
    padding: 5px;
    font-size: 20px;
    text-shadow: 1px 1px black;
}

.contentInfo {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.contentPane {
    position: relative;
    display: none;
    margin: 5px 50px;
    right: 0;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.footer {
    position: absolute;
    margin: 5px 50px;
    padding: 5px;
    font-size: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-shadow: 1px 1px black;
}

.footer a {
    text-decoration: none;
    color: cyan;
}

.footer a:hover {
    color: darkorange;
}

.footer a:active {
    color: green;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.line {
    border-color: cyan;
}

.spacer {
    margin-left: 50px;
}